<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Index</title>
        <style>
            h1 { font-size: 60px; color: #eee; text-align: right; margin: 0px;}
            body { font-size: 14px; color: #999; margin: 5px;}
        </style>
    </head>

    <body>
        <head>
            <h1>Index</h1>
        </head>
        <div role="main">
            <p>This is Index page.</p>
            <p>これはEJSページです。</p>
        </div>
    </body>
    
</html>